@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --width-device: 100dvw;
  --width-extent: 1160px;
  --max-width-device: 100dvw;
  --max-width-extent: 1160px;
  --min-width-device: 100dvw;
  --min-width-extent: 1160px;

  --height-device: 100dvh;
  --max-height-device: 100dvh;
  --min-height-device: 100dvh;

  --color-latex: #060202;
  --color-matte: #060202;
  --color-smoke: #27272ae6;
  --color-snow: #f4f4f5;
  --color-accent: #f0c1a2;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
